<div class="container">
  <h6 class="pt-3 pl-3">Folders</h6>
  <hr>

  <div class="row">
    <div class="col-12">
      <h1>Basket</h1>
      <div class="d-flex flex-column" *ngFor="let item of items$ | async">
        <div class="d-flex flex-row">
          <h3 class="p-2">{{item.name}}</h3>
          <h4 class="p-2">{{item.quantity}}</h4>
          <button class="btn btn-outline-primary p-2" (click)="increaseQuantity(item)">➕</button>
          <button class="btn btn-outline-secondary p-2" (click)="decreaseQuantity(item)">➖</button>
          <button class="btn btn-outline-danger p-2" (click)="removeItem(item)">🗑</button>
        </div>
        <div class="p-2">
          <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="pay()">BUY NOW <span class="ml-2">💰</span></button>
        </div>
      </div>
    </div>
  </div>
